@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');  /** @type {import('tailwindcss').Config} */


body{
  padding-top: 20px;
  background-color: #FBF5ED;
  padding-left: 40px;
  padding-right: 40px;
}
@import "tailwindcss";